@mixin robotoblack {
    font-family: 'Roboto', sans-serif;
}

@mixin robotobold {
    font-family: 'Roboto', sans-serif;
}

@mixin robotolight {
    font-family: 'Roboto', sans-serif;
}

@mixin robotomedium {
    font-family: 'Roboto', sans-serif;
}

@mixin robotoregular {
    font-family: 'Roboto', sans-serif;
}

@mixin robotothin {
    font-family: 'Roboto', sans-serif;
}

@mixin robotoslabregular {
    font-family: 'Roboto Slab', serif;
}

@mixin robotoslabthin {
    font-family: 'Roboto Slab', serif;
}